@import "/utils/mixins";
@import "/utils/font";
@import "/utils/reset";
@import "/utils/variables";

@import "/animation/animation";
//##### HEADER #####
@import "/header/header";
@import "/header/header-inner";
//##### MAIN #####
@import "/main/main";
@import "/main/main-inner";
//##### PAGES #####
@import "/pages/home/home-page";
@import "/pages/studio/studio-page";
@import "/pages/teachers/page-teachers";
@import "/pages/classes/group-classes-page";
@import "/pages/classes/private-classes-page";
@import "/pages/contact/contact-page";
//##### FOOTER #####
@import "/footer/footer";
@import "/footer/footer-inner";
//##### BLOCKS #####
@import "blocks/top-bar/top-bar";

@import "blocks/main-head/main-head";
@import "blocks/main-blocks/main-blocks";
@import "blocks/main-quote/main-quote";

@import "blocks/main-nav/main-nav";
@import "blocks/main-nav/sub-main-nav";

@import "blocks/main-slider/main-slider";

@import "blocks/our-classes/group-classes";
@import "blocks/our-classes/private-classes";
@import "blocks/our-teachers/our-teachers";

@import "blocks/about-studio/about-studio";
@import "blocks/about-studio/about-studio__title";

@import "blocks/social/social";
@import "blocks/contact/contact";
@import "blocks/logo/logo";
@import "blocks/map/map";
@import "blocks/overlay/overlay";

@import "blocks/head/head";
@import "blocks/title/title";
@import "blocks/text/text";

@import "blocks/mail/mail";
@import "blocks/mail/error";
@import "blocks/mail/success";

@import "blocks/powered/powered-by";

html {
  box-sizing: border-box;
  font-size: $mainFontSize;
  height: 100%;

  @media screen and (min-width: $bigDesktopWidth) {
    font-size: 20px;
  }

  @media screen and (max-width: $bigDesktopWidth) {
    font-size: 18px;
  }

  @media screen and (max-width: 1480px) {
    font-size: 17px;
  }

  @media screen and (max-width: $desktopWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $smDesktopWidth) {
    font-size: 14px;
  }

  @media screen and (max-width: $tabletWidth) {
    font-size: 13px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 12px;
  }

  @media screen and (max-width: $smPhoneWidth) {
    font-size: 12px;
  }
}

body {
  position: relative;
  left: 0;
  transition: left 0.3s linear;

  min-width: $smPhoneWidth;
  font-family: $main-font;
  font-size: $mainFontSize;
  font-weight: $font-weight-default;
  font-style: normal;
  line-height: 26px;
  color: $text-color-default;
  // background-color: rgb(216, 243, 119);
}

.container {
  padding: 5px 15px;
}

@media (min-width: 768px) {

  .container {
    padding: 10px 35px;
  }
}


@media (min-width: 1280px) {

  .container {
    padding: 20px 50px;
  }
}



// ##############################--DESKTOP--##########################
@media (min-width: 1280px) {

  // body {
  //   background-color: rgb(243, 119, 129);
  // }
  .container {
    padding: 20px 50px;
  }
}

// .visually-hidden:not(:focus):not(:active)
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}