@media(max-width: $desktopWidth) {
    .top-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $default-color;
        // background-color: rgb(218, 14, 245);
        z-index: 100;
    }
}


// Begining style for Mobile
.top-bar {
    // position: fixed;
    // left: 0;
    // top: 0;

    // width: 100px;
    // height: 100px;
    // z-index: 5;

}

.top-bar__wrap {
    display: none;
}

.top-bar__phone-icon {
    position: absolute;
    top: 13px;
    left: 24px;

    & svg {
        width: 24px;
        height: 24px;

        color: #a08a84;
    }

}

.top-bar__feedback-icon {
    position: absolute;
    top: 53px;
    left: 18px;
    background: transparent;
    padding: 0;

    cursor: pointer;

    & svg {
        width: 36px;
        height: 36px;

        color: #a08a84;
    }
}

// End style for Mobile
// #
// Begining style for Tablet
@media (min-width: $tabletWidth) {
    .top-bar__phone-icon {
        top: 30px;
        left: 30px;

        & svg {
            width: 42px;
            height: 42px;

        }
    }

    .top-bar__feedback-icon {
        top: 19px;
        left: 90px;

        & svg {
            width: 60px;
            height: 60px;
        }
    }
}

// End style for Tablet
// #
// Begining style for Desktop
@media (min-width: $desktopWidth) {
    .top-bar {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        background-color: #e6e6e6;
    }

    .top-bar__phone-icon,
    .top-bar__feedback-icon {
        display: none;
    }

    .top-bar__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: $bigDesktopWidth;

        margin: 0 auto;
    }

    .top-bar__contact-link {
        color: $neutral-regular;
        text-decoration: none;
        margin-left: 40px;
    }
}