.header-inner {
    // position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

@media(max-width: $desktopWidth) {
    .header-inner {
        position: fixed;
        top: 0;
        left: 0;


        z-index: 100;

        width: 100%;
        height: 100px;

        background-color: $default-color;


        // background-color: rgb(0, 241, 72);
        // transform: translateX(0%);
        // transition: transform 0.3s linear;
    }

    // .header-inner--active {
    //     transform: translateX(-60%);
    //     transition: transform 0.3s linear;
    // }

}
// ##############################--DESKTOP--##########################
@media(min-width: $desktopWidth) {
    .header-inner--active {
        // display: none;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
    }
}