@keyframes bounce {
  0% {
      transform: translate(-50%, -50%);
  }

  20% {
      transform: translate(-50%, -40%);
  }

  80% {
      transform: translate(-50%, -113%);
  }

  100% {
      transform: translate(-50%, -105%);
  }
}

@keyframes bounce-one {
  0% {
      transform: translate(-50%, 150%);
  }

  60% {
      transform: translate(-50%, -7%);
  }

  100% {
      transform: translate(-50%, 0%);
  }
}

@keyframes fly-upper {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
      background-color: #ffffff;
      -webkit-transform: scale(0.95);
      transform: scale(0.95)
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      background-color: rgb(196, 21, 21);
      -webkit-transform: scale(1);
      transform: scale(1)
    }
  }