.main-blocks {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-bottom: 36px;

    position: relative;

    cursor: pointer;
}

.main-blocks__list {
    display: flex;
    flex-direction: column;

    width: 90%;

    position: relative;
}

.main-blocks__item {
    min-height: 420px;

    opacity: 0.7;

    position: relative;

    cursor: pointer;

    overflow: hidden;

    margin-bottom: 5px;

    border-radius: 10px;

    &:hover>.main-blocks__slide {
        // при ховере действия происходят в другом блоке
        animation-name: bounce;
        animation-duration: .8s;

        animation-fill-mode: forwards; // не дает вернуться обратно 
        cursor: pointer;
    }

    &:hover>.main-blocks__hide {
        animation-name: bounce-one; // подключает анимацию
        animation-duration: 1s; // время действия анимации
        animation-fill-mode: forwards; // не дает вернуться в исходное положение пока действует ховер 

        opacity: 1;
        transition: 3s;
        cursor: pointer;
    }
}


.main-blocks__slide-icon {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;

    & svg {
        width: 150px;
        height: 150px;
    }
}

.main-blocks__slide-head {
    text-align: center;
    color: $default-color;
    font-size: rem($font-size-smBig);

    line-height: 1.3em;
    text-transform: uppercase;

    padding-left: 22px;
    padding-right: 22px;
}

.main-blocks__slide {
    align-items: center;

    width: 100%;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.main-blocks__hide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 150%); // блок скрыт

    opacity: 0;
}



.main-blocks__hide-text {
    text-align: center;

    padding-left: 22px;
    padding-right: 22px;

    padding-bottom: 10px;

    font-family: $secondary-font, serif;
    font-size: rem($font-size-smBig);
}



.main-blocks__hide-button {
    min-width: 100px;
    min-height: 30px;

    margin: 5px;
    border-radius: 1px;
    background-color:  #b6869d;
    border-radius: 5px;

    color: $default-color;
    text-transform: uppercase;
    font-size: $font-size-smaller;
    font-weight: 900;

    cursor: pointer;

    &:hover {
        // background-color: #b6869d;
        border: 2px solid $default-color;

    }
}

.main-blocks__item--first {
    background-color: $primary-color-light;
}

.main-blocks__item--second {
    background-color: $primary-color-light;
}

.main-blocks__item--third {
    background-color: $primary-color-light;
}

// ##############################--TABLET--##########################
@media (min-width: $tabletWidth) {
    .main-blocks__list {
        width: 70%;
    }
}

// ##############################--DESKTOP--##########################
@media (min-width: $desktopWidth) {
    .main-blocks__list {
        flex-direction: row;
        justify-content: center;
        width: 75%;
    }

    .main-blocks__item {
        width: 100%;
        min-height: 540px;

        margin: 0 10px;
    }

    .main-blocks__hide-button {
        width: 175px;
        min-height: 50px;
    }

    .main-blocks__slide-icon {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;

        & svg {
            width: 100%;
            height: 184px;
        }
    }
}