.powered-by {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    margin-right: 5px;
    margin-bottom: 10px;

    line-height: 1.15;

    color: $default-color;
}

.powered-by__head {
    font-size: 6px;
}

.powered-by__avatar {
    margin-top: 4px;
    width: 65px;
}



@media (min-width: $tabletWidth) {
    .powered-by {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .powered-by__head {
        font-size: 10px;
    }

    .powered-by__avatar {
        margin-top: 8px;
        width: 95px;
    }

}

// ##############################--DESKTOP--##########################
@media (min-width: $desktopWidth) {
    .powered-by {
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .powered-by__head {
        font-size: 14px;
    }

    .powered-by__avatar {
        margin-top: 10px;
        width: 110px;
    }

}